.userMenu {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.email {
  color: rgb(117, 133, 178);
  font-size: 15px;
  font-weight: 600;
}
.button {
  color: rgb(117, 133, 178);
  font-weight: 600;
  border: 2px solid rgb(117, 133, 178);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.button:hover,
:focus {
  color: rgba(179, 54, 54, 0.7);
  background-color: transparent;
  border-color: rgba(179, 54, 54, 0.7);
}
